header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid #000000;
}


main {
    background-color: #ffffff;
    color: #111;
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid #000000;
}


footer {
    background-color: #aca9a6;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #000000;
}


h2 {
    font-size: 1.8em;
    text-decoration: underline;
}


.destaque {
    font-style: italic;
    background-color: #f1e7db;
    padding: 5px;
}


#importante {
    border-top: 4px solid rgb(0, 0, 0);
    padding-top: 10px;
}

.galeria-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 800px;
}

.item {
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
}


.item img {
    width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}



nav {
  background-color: #222;
  color: white;
  padding: 15px;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}


@media (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
  }

  .hamburger {
    display: block;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }
}
